* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0 2rem;
    margin-top: 1.5rem;
}

table td,
table th {
    border: 1px solid black;
    padding: .3rem;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    padding: 2rem;
}

.tab-btns {
    display: flex;  
    margin: 0 0 1rem 0; 
}

.btn {
    background-color: #f0f0f0;
    outline: none;
    font-size: inherit;
    padding: .3rem;
    flex: 1;
    border: none;
    cursor: pointer;
}

.btn-selected {
    background-color: #d0d0d0;
    border-top: 3px solid green;
}